<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <h1>Black Light Assignment</h1>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<div class="d-flex p-2 justify-content-between">
  <div>
    <button (click)="this.getData()" class="btn btn-primary">Current Week Leaderboard (Score: 0-100)</button>
  </div>
  <div>
    <label for="cc">Enter Country Code(2 Letter)</label>
    <input
      type="text"
      placeholder="Enter Country Code"
      name="cc"
      #countryCode
    />
    <button (click)="getTopByCountry(countryCode.value)" class="btn btn-primary">Submit</button>
  </div>
  <div>
    <label for="cc">Enter User ID</label>
    <input type="text" placeholder="Enter UserID" name="cc" #userID />
    <button (click)="getRank(userID.value)" class="btn btn-primary">Submit</button>
  </div>
</div>

<h1 *ngIf="this.rankFetched"> Rank of the User with the ID(userID.value) : {{ this.rank.rank }}</h1>
<div *ngIf="this.leaderboardFetched">
  <h1 class="d-flex justify-content-center">Current Week Leaderboard</h1>
  <div *ngFor="let item of data">
    <div class="d-flex justify-content-center my-4 py-4 border border-dark align-items-center">
      <h3>{{ item.name }}</h3>
      <p> Score: {{ item.score }}</p>
    </div>
  </div>
</div>


<!-- F6cd3v2Usx -->
